.logo{ 
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    color: black;
}
.logo1{ 
    color: black;
}
.logo1:hover{ 
    color: black;
}
.C{ 
    color: #FF0000;
}
.H{ 
    color: #FF8000;
}