.dautrang{
         float: left;
    }
    .col-lg-12{ 
        padding: 0 50px 0 50px;
        margin-top: 50px;
    }
    .content2 { 
        padding-top: 20px;
       padding-right:70px;
    }
    .content3{ 
        padding-top: 20px;
        padding-bottom: 70px;
    }
    .content2 h3{ 
        margin-bottom: 20px;
        font-weight: 550;
        color: #151515;
    }
    .col-lg-4 h3{
        color: black;
                              font-size: 14px;
                              font-weight: normal; 
                              text-align: center;
                              height : 20px; 
                              margin-top: 5px;
                              margin-bottom: 10px;
                              font-family: Montserrat, Arial, sans-serif
    }
    .col-lg-4 a img{ 
        width: 80% 
    }
    .timkiem{ 
        border: 1px groove;
        height: 36px;
        width: 250px;
        font-size: 14px;
    }
    .timkiem:hover{
        border: 1px solid black;
        position: relative;
    }